*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8FAFC;
    color: #1F2937;
    line-height: 1.7;
}

/*headeer css*/


header{
    padding:30px 50px;
   
    background-color: #0F172A;
    color:#2563EB;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo img{
   
    width: 130px;
    border-radius: 70px;
}
.logo-content h1{
     color: #FFFFFF;
   font-size: 55px;
}
.logo p{
    font-size: 25px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 40px;
}
nav ul li a{
     color:#FFFFFF;
    font-size: 25px;
   
    text-decoration: none;
}
nav a:hover{
      color:#F59E0B;
}
.header-btn{
    font-size: 25px;
    padding: 25px;
    border-radius: 10px;
    background-color: #F59E0B;
    color:  #0F172A;
}
button:hover{
  background:#D97706;  
}


/*hero section css*/

#hero{
    margin-top: 50px;
   padding: 80px;
}
.hero-container{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.hero-content h2{
font-size: 55px;
}
.hero-content p{
    font-size: 25px;
width: 900px;
}
.hero-btns{
    margin-top: 35px;
}
button{
   
padding: 16px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: transform 0.3s ease;
    margin-left: 20px;
}
button:hover{
    transform: translateY(-8px);
}
button:first-child{
  
   background-color:#2563EB;
     color:white;   
}
button:last-child{
     background:white;
    color:#2563EB;
    border:2px solid #2563EB;
}
.hero-img img{
    width: 500px;
    border-radius: 25px;
}

/*destinations section css*/

#destinations{
padding:90px 60px;
text-align: center;
}
.destinations-content h2{
font-size: 45px;
}
.destinations-content p{

  margin-bottom: 20px;
font-size: 25px;
}
.destinations-container{
display: grid;
grid-template-columns: repeat(3,1fr);
}
.destination-card{
padding: 20px;
background-color:white;
border-radius:20px ;
text-align: center;
margin: 30px;
transition: transform 0.3s ease;
}
.destination-card:hover{
  transform: translateY(-8px);
}
.destination-card img{
border-radius: 25px;
width: 300px;
}
.destination-card h3{
font-size: 34px;
}
.destination-card p{

font-size: 20px;


}
.destination-card span{
 display:block;
    font-size:24px;
    font-weight:700;
    color:#F59E0B;
    margin:20px 0;
}